body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-cred {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background: #56a5eb;

}
.box-cred {
    width: 800px;
    background: #56a5eb;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
    display: flex;
    background: #56a5eb;
    align-items: center;
    border-radius: 3%;
}
.div-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box-cred h1{
    text-align: center;
}
#botao-cred{
    font-size: 1.8rem;
    padding: 10px 0px;
    width: 100px;
    text-align: center;
    border: 0.1rem solid #56a5eb;
    margin-bottom: 20px;
    text-decoration: none;
    color: #feffff;
    background: #56a5eb;
    border-radius: 5%;
    background: rgba(102, 53, 155, 0.877);
}
#botao-cred:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 #56a5eb;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

#logo{
    width: 200px;
    height: 200px;
}

@media (max-width: 480px) {
    .container-cred{
        height: 100vh;
    }
    .box-cred {
        width: 90vw;
        display: flex;
        flex-direction: column;
    }

}